# ASDF upstream packages
git+https://github.com/asdf-format/asdf
git+https://github.com/asdf-format/asdf-transform-schemas
git+https://github.com/asdf-format/asdf-wcs-schemas
git+https://github.com/astropy/asdf-astropy

# Use weekly astropy dev build
astropy>=0.0.dev0
pyerfa>=0.0.dev0

numpy>=0.0.dev0
scipy>=0.0.dev0

# Roman upstream packages
git+https://github.com/spacetelescope/rad

# Other important upstream packages
git+https://github.com/spacetelescope/gwcs
