name: CI

on:
  push:
    branches:
      - main
      - "*.*.x"
    tags:
      - '*'
  pull_request:
  schedule:
    # Weekly Monday 9AM build
    # * is a special character in YAML so you have to quote this string
    - cron: '0 9 * * 1'
  workflow_dispatch:


jobs:
  test:
    uses: OpenAstronomy/github-actions-workflows/.github/workflows/tox.yml@v1
    with:
      envs: |
        - linux: py310-oldestdeps-cov
          coverage: codecov
        - linux: py310
        - linux: py311
        - macos: py311
        - linux: py311-cov
          coverage: codecov
        - linux: py312
  test_upstream:
    uses: OpenAstronomy/github-actions-workflows/.github/workflows/tox.yml@v1
    with:
      envs: |
        - linux: rad
